<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
  <!-- Boxiocns CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

  <!-- Base CSS -->
  <!-- <link rel="stylesheet" th:href="@{stylesheets/css/base.css}"> -->
  <link rel="stylesheet" th:href="@{/styles.css}">

  <!-- Specific CSS -->
  <!-- <link rel="stylesheet" th:href="@{stylesheets/css/staffnavbar.css}"> -->

</head>
<body>
    <header>
      <!-- Navbar -->
      <div th:insert="~{fragments/custnavbar::navbar}"></div>
      <!-- Navbar -->
    </header>
  
    <main>
        
    </main>
  
    <footer></footer>
  
    <!--<Script for Navbar>-->
      <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
          arrow[i].addEventListener("click", (e)=>{
         let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
         arrowParent.classList.toggle("showMenu");
          });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", ()=>{
          sidebar.classList.toggle("close");
        });
        </script>
    </header>
</body>
</html>