<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Package List</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header>
    <!-- Navbar -->
    <div th:insert="~{fragments/custnavbar::navbar}"></div>
</header>
<div class="container">
    <div class="row my-3">
        <div class="col-12 text-right">
            <a th:href="@{/createPackage}" class="btn btn-primary">Create Package</a>
        </div>
    </div>
    <div class="row">
        <div th:each="package : ${packages}" class="col-md-3 my-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" th:text="${package.packageName}">PackageName</h5>
                    <p class="card-text">
                        Price: <span th:text="${package.packagePrice}">PackagePrice</span><br>
                        <div style="max-height: 7vw; overflow: scroll;">
                            <ul>
                                <li th:each="activity : ${package.getActivities()}" th:text="${activity.getActivityName()}">
                            </ul>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
