<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity List</title>
    <!-- Boxiocns CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

  <!-- Base CSS -->
  <link rel="stylesheet" th:href="@{stylesheets/css/base.css}">

  <!-- Specific CSS -->
  <link rel="stylesheet" th:href="@{stylesheets/css/staffnavbar.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .container {
            margin-top: 40px;
        }
        .card {
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
        .card-body {
            text-align: center;
        }
        .card-title {
            font-size: 1.5em;
        }
        .btn {
            margin: 5px;
        }
    </style>
    <script>
        function confirmDelete(activityId) {
            if (confirm("Are you sure you want to delete this activity?")) {
                window.location.href = '/deleteActivity/' + activityId;
            }
        }
    </script>
</head>
<body>
<header>
    <!-- Navbar -->
    <div class="sidebar close">
        <div class="logo-details">
          <i class='bx bxl-c-plus-plus'></i>
          <span class="logo_name">KemTasikBiru</span>
        </div>
        <ul class="nav-links">
          <li>
            <a th:href="@{/homeStaff}">
              <i class='bx bx-grid-alt' ></i>
              <span class="link_name">Home</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" th:href="@{/homeStaff}">Home</a></li>
            </ul>
          </li>
          <li>
            <a th:href="@{/listPackages}">
              <i class='bx bx-pie-chart-alt-2' ></i>
              <span class="link_name">Package</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" th:href="@{/listPackages}">Package</a></li>
            </ul>
          </li>
          <li>
            <a th:href="@{/listActivity}">
              <i class='bx bx-line-chart' ></i>
              <span class="link_name">Activity</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" th:href="@{/listActivity}">Activity</a></li>
            </ul>
          </li>
          <li>
            <a th:href="@{/staffViewBooking}">
              <i class='bx bx-compass' ></i>
              <span class="link_name">Booking List</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" th:href="@{/staffViewBooking}">Booking List</a></li>
            </ul>
          </li>
          <li>
            <a th:href="@{/staffProfile}">
              <i class='bx bx-history'></i>
              <span class="link_name">Profile</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" th:href="@{/staffProfile}">Profile</a></li>
            </ul>
          </li>
          <li>
        <div class="profile-details">
          <div class="profile-content">
            <!--<img src="image/profile.jpg" alt="profileImg">-->
          </div>
          <div class="name-job">
            <div class="profile_name">Log Out</div>
          </div>
          <a th:href="@{/staffLogin}"><i class='bx bx-log-out' ></i></a>
        </div>
      </li>
    </ul>
      </div>
      <section class="home-section">
        <div class="home-content">
          <i class='bx bx-menu' ></i>
        </div>
      </section>
      <!-- Navbar -->
      <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
          arrow[i].addEventListener("click", (e)=>{
         let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
         arrowParent.classList.toggle("showMenu");
          });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", ()=>{
          sidebar.classList.toggle("close");
        });
        </script>
</header>
<div class="container">
    <div class="row">
        <div class="col-12 text-right">
            <a th:href="@{/createActivity}" class="btn btn-primary">Create Activity</a>
        </div>
    </div>
    <div class="row">
        <div th:each="activity : ${activities}" class="col-md-3">
            <div class="card">
                <img th:src="@{/images/{filename}(filename=${activity.activityImage})}" alt="Activity Image" />
                <div class="card-body">
                    <h5 class="card-title" th:text="${activity.activityName}">ActivityName</h5>
                    <p class="card-text">
                        Price: <span th:text="${activity.activityPrice}">ActivityPrice</span><br>
                        Duration: <span th:text="${activity.activityDuration}">ActivityDuration</span><br>
                        <span th:if="${activity instanceof T(com.heroku.java.model.Wet)}">
                            Equipment: <span th:text="${activity.activityEquipment}">ActivityEquipment</span><br>
                            Type: Wet
                        </span>
                        <span th:if="${activity instanceof T(com.heroku.java.model.Dry)}">
                            Location: <span th:text="${activity.activityLocation}">ActivityLocation</span><br>
                            Type: Dry
                        </span>
                    </p>
                    <a th:href="@{'/updateActivity/' + ${activity.activityId}}" class="btn btn-info">Update</a>
                    <button th:onclick="'deleteActivity(' + ${activity.activityId} + ')'" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function deleteActivity(activityId) {
    if (confirm("Are you sure you want to delete this activity?")) {
        fetch(`/deleteActivity/${activityId}`, { method: 'POST' })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    alert('Failed to delete activity');
                }
            });
    }
}
</script>
</body>
</html>
